html {
    background-color: rgb(203, 191, 187);
}

h1 {
    text-align: center;
    font-size: 100px;
    color: rgb(29, 30, 44);
}

#clockTime {
    text-align: center;
    font-size: 200px;
    color: rgb(29, 30, 44);
}

#alarmForm {
    text-align: center;
}

